@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$aC: #4b6c82;
$asC: #afd4ed;
$bC: #1e1e1e;
$wC: #f2f2f2;
$rC: #bf4040;
$gC: #40bf46;
$fB: rgb(19, 19, 19);

// ::selection {
//   background: black;
//   // color: white;
//   text-shadow: none;
// }

* {
  padding: 0;
  margin: 0;
  // font-family: "Poppins", sans-serif;
  font-family: "Fira Code", monospace;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

html {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;

  .flexcontainer {
    // margin: 10px;

    #navm {
      transition: ease 1s;
      position: absolute;
      transform: translateY(-1000px);

      width: 100vw;
      background-color: $bC;
      z-index: 1;

      .menu {
        flex-direction: column;
        align-items: center;

        li {
          margin-top: 100px;
          a {
            color: $asC;
            text-decoration: none;
            font-size: 30px;
            transition: ease 1s;
          }

          a:hover {
            color: $aC;
            transition: ease 1s;
          }
        }
      }
    }

    #navm.active {
      transition: ease 1s;
      display: default;
      opacity: 1;
      transform: translateY(20px);
      height: 650px;
      width: 100vw;
      background-color: $bC;
      // z-index: 3;
    }

    .navf {
      position: sticky;
      flex-direction: row;
      width: 100vw;
      height: fit-content;
      z-index: 1000;
      #nav {
        width: 100vw;
        height: 100px;
        .flexcontainer {
          flex-direction: row;
          justify-content: space-around;

          .left {
            width: 50vw;
            padding-top: 2rem;
            .logo {
              padding-left: -1rem;
              font-family: "Fira Code", monospace;
              font-size: 30px;
              color: #4b6c82;
            }
          }

          .right {
            height: 60px;
            width: 20vw;

            .menuToggle {
              padding-left: 5rem;
              padding-top: 30px;
              .toggle {
                // height: 2px;
                background-color: transparent;
                height: fit-content;
                border: none;
                .l1,
                .l2,
                .l3 {
                  margin-top: 5px;
                  height: 4px;
                  border-radius: 15px;
                  display: block;
                  width: 40px;
                  background-color: $wC;
                  transition: ease-in 0.5s;
                }
              }

              .toggle:hover {
                cursor: pointer;
                span {
                  transition: ease-in 0.5s;

                  background-color: $aC;
                }
              }
            }
          }
        }
      }
    }
  }

  .contentcontainer {
    .app {
      width: 99vw;

      .containerflex {
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        #submitI {
          margin-top: 25px;
          height: 40px;
          background-color: $fB;
          border-radius: 10px;
          width: 400px;
          padding: 2px;
          .flexC {
            padding-top: 2.5px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            button {
              border-radius: 10px;
              height: 30px;
              border: none;
              margin-right: 10px;
              font-weight: 500;
              background-color: $bC;
              color: $aC;
              width: 30px;
              font-size: 14px;
              transition: ease 1s;
            }

            button:hover {
              background-color: $aC;
              color: $wC;
              cursor: pointer;
              transition: ease 1s;
            }

            input {
              border-radius: 5px;
              border: none;
              color: $asC;
              background-color: $bC;
              padding-left: 3px;
              margin-left: 10px;
              height: 30px;
              width: 330px;
              outline: none;
            }

            input::placeholder {
              background-color: none;
              color: $asC;
            }
          }
        }
      }

      .appL {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 550px;
        margin-top: 20px;

        h3 {
          color: $asC;
          font-weight: 500;
          padding-left: 15px;
          padding-top: 7px;
          font-size: 14px;
        }

        #taskS {
          margin-top: 10px;
          height: 80vh;
          width: 400px;
          border-radius: 10px;
          background-color: rgb(19, 19, 19);
          #taskListTD {
            .listC {
              flex-direction: row;
              justify-content: space-between;
              display: flex;
              width: 100%;
              margin-top: 10px;
              height: fit-content;

              .divS {
                width: min-content;
                overflow: hidden;
                span {
                  padding-left: 15px;
                  color: $wC;
                  font-size: 14px;
                  transition: ease 1s;

                  .line {
                    opacity: 0;
                    width: 70vw;
                    display: block;
                    transition: ease 1s;
                    height: 2px;
                    border-radius: 15px;
                    transform: translateX(14px) translateY(-10px);
                    background-color: $rC;
                  }
                }
              }

              .lOption {
                position: absolute;
                transform: translateX(300px) translateY(-20px);
                pointer-events: none;
                opacity: 0;
                background-color: $aC;
                transition: ease 1s;
                width: fit-content;
                height: fit-content;
                .flexcL {
                  width: 80px;
                  display: flex;
                  flex-direction: column;
                  align-items: left;
                  text-align: right;

                  button {
                    // width: 50px;
                    border: none;
                    background-color: $bC;
                    color: $asC;
                    transition: ease 1s;
                    // border-radius: 2px;
                    height: 20px;
                  }

                  button:hover {
                    background-color: $asC;
                    color: $bC;
                    transition: ease 1s;
                  }
                }
              }

              .lOption.active {
                opacity: 1;
                pointer-events: all;
                transform: translateX(300px) translateY(30px);
                transition: ease 1s;
                button {
                  cursor: pointer;
                  transition: ease 1s;
                }
              }

              .buttonS {
                button {
                  .span1 {
                    display: block;
                    height: 2px;
                    width: 8px;
                    transition: ease 1s;

                    transform: rotate(-48deg);
                    background-color: $asC;
                  }

                  .span2 {
                    transform: translateX(-4px) translateY(-2px) rotate(48deg);
                    display: block;
                    height: 2px;
                    width: 8px;
                    transition: ease 1s;
                    background-color: $asC;
                  }
                }
              }

              .buttonS:hover {
                .span1,
                .span2 {
                  background-color: $aC;
                  cursor: pointer;
                  transition: ease 1s;
                }
              }

              .buttonS.active {
                .span1 {
                  transform: rotate(45deg);
                }

                .span2 {
                  transform: translateX(-4px) translateY(-2px) rotate(-230deg);
                }
              }

              .divS:hover {
                cursor: pointer;
                span {
                  cursor: pointer;
                  transition: ease 1s;
                  color: $asC;

                  .line {
                    cursor: pointer;
                    opacity: 1;
                    transition: ease 1s;
                  }
                }
              }

              .buttonS {
                button {
                  width: 30px;
                  height: 30px;
                  background-color: transparent;
                  color: $asC;
                  border: none;
                }
              }
            }
          }
        }

        // #taskDN {
        //   margin-top: $mt;
        //   height: 150px;
        //   width: 400px;
        //   border-radius: 10px;
        //   background-color: rgb(19, 19, 19);
        //   #tasklistDN {
        //   }
        // }

        // #taskDL {
        //   margin-top: $mt;
        //   height: 150px;
        //   width: 400px;
        //   border-radius: 10px;
        //   background-color: rgb(19, 19, 19);
        //   #tasklistDL {
        //   }
        // }
      }
    }
  }
}
