@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$aC: #4b6c82;
$asC: #afd4ed;
$bC: #1e1e1e;
$wC: #f2f2f2;
$rC: #bf4040;
$gC: #40bf46;
$fB: rgb(19, 19, 19);

// ::selection {
//   background: black;
//   // color: white;
//   text-shadow: none;
// }

* {
  padding: 0;
  margin: 0;
  // font-family: "Poppins", sans-serif;
  font-family: "Fira Code", monospace;
}

.flex {
  display: flex;
}

li {
  list-style: none;
  // color: $gC;
}

/* Mobile first */
.container {
  margin-top: 60px; /* space for NavS toggle bar */
}

/* Desktop */
// @media (min-width: 768px) {
//   .container {
//     margin-top: 0;
//     padding-left: 200px; /* adjust if NavM is a sidebar */
//   }
// }

html {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;

  .app {
    .container {
      .navf {
        position: sticky;
        flex-direction: row;
        width: 100vw;
        height: fit-content;
        z-index: 1000;
      }
    }
  }
}
