@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$aC: #4b6c82;
$asC: #afd4ed;
$bC: #1e1e1e;
$wC: #f2f2f2;
$rC: #bf4040;
$gC: #40bf46;
$fB: rgb(19, 19, 19);

* {
  padding: 0;
  margin: 0;
  // font-family: "Poppins", sans-serif;
  font-family: "Fira Code", monospace;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

/* Mobile first */
.container {
  // margin-top: 60px; /* space for NavS toggle bar */
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  .app {
    .container {
      .navf {
        flex-direction: row;
        padding-right: 0%;
        margin: 0;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        z-index: 1000;
      }

      @media (max-width: 900px) {
        .navf {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
