@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

:root {
  --color-primary: #4b6c82;
  --color-secondary: #afd4ed;
  --color-bg: #1e1e1e;
  --color-text: #f2f2f2;
  --color-danger: #bf4040;
  --color-success: #40bf46;
  --color-muted: #888;
  --color-bg-dark: #131313;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
  width: 100vw;
}

.full-size {
  width: 100%;
  height: 100%;
}

.muted-text {
  color: var(--color-muted);
}
