@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$aC: #4b6c82;
$asC: #afd4ed;
$bC: #1e1e1e;
$wC: #f2f2f2;
$rC: #bf4040;
$gC: #40bf46;
$fB: rgb(19, 19, 19);

* {
  padding: 0;
  margin: 0;
  // font-family: "Poppins", sans-serif;
  font-family: "Fira Code", monospace;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

.app {
  .flex-container {
    #navm {
      transition: ease 1s;
      position: absolute;
      transform: translateY(-1300px);
      height: 100vh;
      width: 100vw;
      background-color: $bC;
      z-index: 1;

      .menu {
        flex-direction: column;
        align-items: center;

        li {
          margin-top: 100px;

          color: $asC;
          text-decoration: none;
          font-size: 30px;
          transition: ease 1s;
        }

        li:hover {
          color: $aC;
          transition: ease 1s;
        }
      }
    }

    #navm.active {
      transition: ease 1s;
      display: default;
      opacity: 1;
      transform: translateY(120px);
      height: 100vh;
      width: 100vw;
      background-color: $bC;
      // z-index: 3;
    }
  }
}
