@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$aC: #4b6c82;
$asC: #afd4ed;
$bC: #1e1e1e;
$wC: #f2f2f2;
$rC: #bf4040;
$gC: #40bf46;
$fB: rgb(19, 19, 19);

:root {
  --bg: #0c1214;
  --panel: #0f1516;
  --muted: #9fb1bb;
  --accent: #4b6c82;
  --accent2: #8fd2ff;
}

* {
  padding: 0;
  margin: 0;
  // font-family: "Poppins", sans-serif;
  font-family: "Fira Code", monospace;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

.app {
  .flex-container {
    #navm {
      transition: ease 0.3s;
      position: absolute;
      top: 85px;
      left: 0;
      transform: translateY(-60px);
      // transform: translateY(-1300px);
      // transform: translateX(-150px);
      height: 100vh;
      width: 100vw;
      pointer-events: none;
      opacity: 0;
      background-color: var(--bg);
      z-index: 15;

      .menu {
        margin-left: 10vw;
        flex-direction: column;
        align-items: left;
        margin-top: 0.5vh;

        li {
          margin-top: 100px;

          color: $asC;
          text-decoration: none;
          font-size: 30px;
          transition: ease 1s;
        }

        li:hover {
          color: $aC;
          transition: ease 1s;
          cursor: pointer;
        }
      }
    }

    #navm.active {
      pointer-events: all;
      transition: ease 0.3s;
      display: default;
      opacity: 1;
      transform: translateY(-30px);
      height: 100vh;
      width: 100vw;
      // background-color: $bC;
      // z-index: 3;
    }
  }
}
