@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$aC: #4b6c82;
$asC: #afd4ed;
$bC: #1e1e1e;
$wC: #f2f2f2;
$rC: #bf4040;
$gC: #40bf46;
$fB: rgb(19, 19, 19);
$font-primary: "Fira Code", monospace;

* {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

.flex {
  display: flex;
}
li {
  list-style: none;
}

.folderView,
.appL {
  // margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.titleC {
  margin-top: 35px;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 10px;

  .backB {
    background-color: $bC;
    border: none;
    border-radius: 15px;
    color: $wC;
    padding: 5px 10px;

    font-weight: 500;
  }

  .backB:hover {
    color: $aC;
    transition: ease 0.3s;
    cursor: pointer;
  }
}

.folderView {
  h2 {
    color: $asC;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 14px;
  }

  ul#taskListTD {
    width: 400px;
    li {
      .listC {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        position: relative;

        .divS {
          span {
            color: $wC;
            font-size: 14px;
            padding-left: 15px;
          }

          input {
            border: none;
            background-color: $bC;
          }
        }

        button {
          border-radius: 5px;
          border: none;
          background-color: $bC;
          color: $aC;
          padding: 5px 10px;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        button:hover {
          background-color: $aC;
          color: $wC;
        }
      }
    }
  }
}

/* ------------------------ */
/* Task list view styling */
/* ------------------------ */

.appL {
  h2 {
    color: $asC;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 22px;
  }

  .containerflex {
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    // height: fit-content;

    #submitI {
      margin-top: 25px;
      height: 65px;
      background-color: $fB;
      border-radius: 10px;
      width: 78vw;
      padding: 8px 5px 8px 5px;

      .flexC {
        padding-top: 4px;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;

        form {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        button {
          border-radius: 10px;
          height: 38px;
          border: none;
          margin-right: 10px;
          font-weight: 500;
          background-color: $bC;
          color: $aC;
          width: 38px;
          font-size: 20px;
          transition: all 0.3s ease;
        }

        button:hover {
          background-color: $aC;
          color: $wC;
          cursor: pointer;
        }

        input {
          border-radius: 5px;
          border: none;
          color: $asC;
          background-color: lighten($bC, 5%);
          padding: 4px;
          height: 40px;
          width: 50vw;
          outline: none;
        }

        input::placeholder {
          color: $asC;
        }
      }
    }
  }

  #taskS {
    min-height: 470px;
    height: fit-content;
    margin-top: 10px;
    padding-bottom: 12px;
    width: 80vw;
    border-radius: 10px;
    background-color: lighten($bC, 2%);

    #taskListTD {
      .aS {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 10px;

        .clearActiveBtn {
          // position: absolute;
          // bottom: 5vh;
          // left: 60px;
          border: none;
          // transform: translateX(2px) translateY(10px);
          background-color: transparent;
          color: $aC;
          font-size: 16px;
          padding: 5px 10px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        .clearActiveBtn:hover {
          // background-color: $aC;
          color: $wC;
        }

        .deleteActiveBtn {
          // position: absolute;
          // bottom: 5vh;
          // left: 60px;
          border: none;
          // transform: translateX(2px) translateY(10px);
          background-color: transparent;
          color: $aC;
          font-size: 16px;
          padding: 5px 10px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        .deleteActiveBtn:hover {
          // background-color: $aC;
          color: $wC;
        }
      }

      .listC {
        margin-top: 8%;
        display: flex;
        justify-content: space-between;
        position: relative;

        .divS {
          padding-left: 10px;
          height: 40px;
          width: fit-conten;
          overflow: hidden;

          .finish {
            transform: translateY(6px);
            border: solid $aC 2px;
            height: 27px;
            width: 27px;
            background-color: transparent;
            border-radius: 5px;
            transition: ease 0.3s;
          }

          .finish.active {
            background-color: $aC;
            transition: ease 0.3s;
          }

          .finish:hover {
            color: $aC;
            cursor: pointer;
          }

          span {
            padding-left: 15px;
            color: $wC;
            font-size: 16px;
            transition: color 0.3s ease;
          }

          span.activeText {
            color: $aC;
            text-decoration: line-through;
            transition: ease 0.3s;
          }

          input {
            margin-left: 15px;
            // padding-left: 15px;
            padding-top: 4px;
            padding-bottom: 4px;
            color: $asC;
            border: none;
            background-color: $bC;
            transition: ease 1s;
          }

          input:focus {
            outline: none;
          }

          .lineTitle {
            opacity: 0;
            width: 70vw;
            display: block;
            height: 2px;
            border-radius: 15px;
            transform: translateX(14px) translateY(-10px);
            background-color: $rC;
            transition: opacity 0.3s ease;
          }

          .lineTitle.active {
            opacity: 1;
          }

          &:hover span {
            cursor: pointer;
            .lineTitle {
              opacity: 1;
            }
          }
        }

        .divS:hover {
          cursor: pointer;

          span {
            color: $asC;
          }
        }

        .lOption {
          transform: translateY(-10px) translateX(12px);
          position: absolute;
          top: 30px;
          right: 25px;
          padding: 3px 7px;
          pointer-events: none;
          opacity: 0;
          background-color: $bC;
          width: fit-content;
          height: fit-content;
          transition: opacity 0.3s ease, transform 0.3s ease;

          .flexcL {
            display: flex;
            flex-direction: column;
            align-items: right;

            button {
              border: none;
              background-color: $bC;
              color: $asC;
              height: 20px;
              margin: 2px 0;
              transition: all 0.3s ease;

              &:hover {
                background-color: $asC;
                color: $bC;
                cursor: pointer;
              }
            }
          }
        }

        .lOption.active {
          opacity: 1;
          z-index: 1000;
          pointer-events: all;
          transform: translateY(-5px) translateX(10px);
        }

        .buttonS {
          transform: translateY(7.5px);
          transition: ease 0.3s;
          button {
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: none;

            .span1,
            .span2 {
              display: block;
              height: 3px;
              width: 9px;
              background-color: $asC;
              transition: all 0.3s ease;
            }

            .span1 {
              transform: rotate(-48.5deg) translateX(5px) translateY(4px);
            }
            .span2 {
              transform: translateX(1.1px) translateY(-4px) rotate(48.5deg);
            }
          }

          &:hover .span1,
          &:hover .span2 {
            background-color: $aC;
            cursor: pointer;
          }
        }

        .buttonS.active {
          transform: translateX(-1px);
          transition: ease 0.3s;
          .span1 {
            transform: translateX(7px) translateY(-1px) rotate(48.5deg);
          }
          .span2 {
            transform: translateX(2px) translateY(-4px) rotate(-48.5deg);
          }
        }
      }
    }
  }
}
