@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

.folderView,
.appL {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.titleC {
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.titleC .backB {
  background-color: #1e1e1e;
  border: none;
  border-radius: 15px;
  color: #f2f2f2;
  padding: 5px 10px;
  font-weight: 500;
}
.titleC .backB:hover {
  color: #4b6c82;
  transition: ease 0.3s;
  cursor: pointer;
}

.folderView h2 {
  color: #afd4ed;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 7px;
  font-size: 14px;
}
.folderView ul#taskListTD {
  width: 400px;
}
.folderView ul#taskListTD li .listC {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}
.folderView ul#taskListTD li .listC .divS span {
  color: #f2f2f2;
  font-size: 14px;
  padding-left: 15px;
}
.folderView ul#taskListTD li .listC .divS input {
  border: none;
  background-color: #1e1e1e;
}
.folderView ul#taskListTD li .listC button {
  border-radius: 5px;
  border: none;
  background-color: #1e1e1e;
  color: #4b6c82;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.folderView ul#taskListTD li .listC button:hover {
  background-color: #4b6c82;
  color: #f2f2f2;
}

/* ------------------------ */
/* Task list view styling */
/* ------------------------ */
.appL h2 {
  color: #afd4ed;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 7px;
  font-size: 22px;
}
.appL .containerflex {
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
.appL .containerflex #submitI {
  margin-top: 25px;
  height: 47px;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  width: 78vw;
  padding: 5px;
}
.appL .containerflex #submitI .flexC {
  padding-top: 2.5px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.appL .containerflex #submitI .flexC form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appL .containerflex #submitI .flexC button {
  border-radius: 10px;
  height: 38px;
  border: none;
  margin-right: 10px;
  font-weight: 500;
  background-color: #1e1e1e;
  color: #4b6c82;
  width: 38px;
  font-size: 20px;
  transition: all 0.3s ease;
}
.appL .containerflex #submitI .flexC button:hover {
  background-color: #4b6c82;
  color: #f2f2f2;
  cursor: pointer;
}
.appL .containerflex #submitI .flexC input {
  border-radius: 5px;
  border: none;
  color: #afd4ed;
  background-color: #1e1e1e;
  padding: 4px;
  height: 30px;
  width: 50vw;
  outline: none;
}
.appL .containerflex #submitI .flexC input::-moz-placeholder {
  color: #afd4ed;
}
.appL .containerflex #submitI .flexC input::placeholder {
  color: #afd4ed;
}
.appL #taskS {
  height: 70vh;
  margin-top: 10px;
  width: 80vw;
  border-radius: 10px;
  background-color: rgb(19, 19, 19);
}
.appL #taskS #taskListTD .listC {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.appL #taskS #taskListTD .listC .divS {
  padding-left: 10px;
  height: 40px;
  width: fit-conten;
  overflow: hidden;
}
.appL #taskS #taskListTD .listC .divS .finish {
  transform: translateY(6px);
  border: solid #4b6c82 2px;
  height: 27px;
  width: 27px;
  background-color: transparent;
  border-radius: 5px;
  transition: ease 0.3s;
}
.appL #taskS #taskListTD .listC .divS .finish.active {
  background-color: #4b6c82;
  transition: ease 0.3s;
}
.appL #taskS #taskListTD .listC .divS .finish:hover {
  color: #4b6c82;
  cursor: pointer;
}
.appL #taskS #taskListTD .listC .divS span {
  padding-left: 15px;
  color: #f2f2f2;
  font-size: 16px;
  transition: color 0.3s ease;
}
.appL #taskS #taskListTD .listC .divS input {
  margin-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #afd4ed;
  border: none;
  background-color: #1e1e1e;
  transition: ease 1s;
}
.appL #taskS #taskListTD .listC .divS input:focus {
  outline: none;
}
.appL #taskS #taskListTD .listC .divS .lineTitle {
  opacity: 0;
  width: 70vw;
  display: block;
  height: 2px;
  border-radius: 15px;
  transform: translateX(14px) translateY(-10px);
  background-color: #bf4040;
  transition: opacity 0.3s ease;
}
.appL #taskS #taskListTD .listC .divS .lineTitle.active {
  opacity: 1;
}
.appL #taskS #taskListTD .listC .divS:hover span {
  cursor: pointer;
}
.appL #taskS #taskListTD .listC .divS:hover span .lineTitle {
  opacity: 1;
}
.appL #taskS #taskListTD .listC .divS:hover {
  cursor: pointer;
}
.appL #taskS #taskListTD .listC .divS:hover span {
  color: #afd4ed;
}
.appL #taskS #taskListTD .listC .lOption {
  transform: translateY(-10px) translateX(12px);
  position: absolute;
  top: 30px;
  right: 25px;
  padding: 3px 7px;
  pointer-events: none;
  opacity: 0;
  background-color: #1e1e1e;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.appL #taskS #taskListTD .listC .lOption .flexcL {
  display: flex;
  flex-direction: column;
  align-items: right;
}
.appL #taskS #taskListTD .listC .lOption .flexcL button {
  border: none;
  background-color: #1e1e1e;
  color: #afd4ed;
  height: 20px;
  margin: 2px 0;
  transition: all 0.3s ease;
}
.appL #taskS #taskListTD .listC .lOption .flexcL button:hover {
  background-color: #afd4ed;
  color: #1e1e1e;
  cursor: pointer;
}
.appL #taskS #taskListTD .listC .lOption.active {
  opacity: 1;
  z-index: 1000;
  pointer-events: all;
  transform: translateY(-5px) translateX(10px);
}
.appL #taskS #taskListTD .listC .buttonS {
  transform: translateY(7.5px);
  transition: ease 0.3s;
}
.appL #taskS #taskListTD .listC .buttonS button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.appL #taskS #taskListTD .listC .buttonS button .span1,
.appL #taskS #taskListTD .listC .buttonS button .span2 {
  display: block;
  height: 3px;
  width: 9px;
  background-color: #afd4ed;
  transition: all 0.3s ease;
}
.appL #taskS #taskListTD .listC .buttonS button .span1 {
  transform: rotate(-48.5deg) translateX(5px) translateY(4px);
}
.appL #taskS #taskListTD .listC .buttonS button .span2 {
  transform: translateX(1.1px) translateY(-4px) rotate(48.5deg);
}
.appL #taskS #taskListTD .listC .buttonS:hover .span1, .appL #taskS #taskListTD .listC .buttonS:hover .span2 {
  background-color: #4b6c82;
  cursor: pointer;
}
.appL #taskS #taskListTD .listC .buttonS.active {
  transform: translateX(-1px);
  transition: ease 0.3s;
}
.appL #taskS #taskListTD .listC .buttonS.active .span1 {
  transform: translateX(7px) translateY(-1px) rotate(48.5deg);
}
.appL #taskS #taskListTD .listC .buttonS.active .span2 {
  transform: translateX(2px) translateY(-4px) rotate(-48.5deg);
}/*# sourceMappingURL=TdlF.css.map */