@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$aC: #4b6c82;
$asC: #afd4ed;
$bC: #1e1e1e;
$wC: #f2f2f2;
$rC: #bf4040;
$gC: #40bf46;
$fB: rgb(19, 19, 19);

* {
  padding: 0;
  margin: 0;
  // font-family: "Poppins", sans-serif;
  font-family: "Fira Code", monospace;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

/* Desktop menu styles */
.desktopMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.6rem;
}

.desktopMenu li {
  cursor: pointer;
  color: $asC;
  font-weight: 500;
}

@media (max-width: 767px) {
  .desktopMenu {
    display: none; /* just to be safe */
  }
}

@media (min-width: 768px) {
  #nav .menuToggle {
    display: none; /* hide toggle button on desktop */
  }
}
.navf {
  #nav {
    width: 100vw;
    height: fit-content;
    .flexcontainer {
      flex-direction: row;
      justify-content: space-around;

      .left {
        width: 50vw;
        // padding-top: 2rem;
        .logo {
          padding-left: -1rem;
          font-family: "Fira Code", monospace;
          font-size: 30px;
          color: #4b6c82;
        }
      }

      .right {
        // height: 60px;
        width: fit-content;

        .menuToggle {
          width: fit-content;
          // padding-top: 33px;
          .toggle {
            // height: 2px;
            background-color: transparent;
            height: fit-content;
            border: none;
            .l1,
            .l2,
            .l3 {
              margin-top: 7px;
              height: 3px;
              border-radius: 15px;
              display: block;
              width: 35px;
              background-color: $wC;
              transition: ease-in 0.5s;
            }
          }

          .toggle:hover {
            cursor: pointer;
            span {
              transition: ease-in 0.5s;

              background-color: $aC;
            }
          }
        }
      }

      @media (min-width: 768px) {
        .right {
          width: 900px;
        }

        .left {
          padding-left: 2rem;
        }
      }
    }

    @media (min-width: 768px) {
      .flexcontainer {
        justify-content: center;
      }
    }
  }
}
